<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.exam.mapper.ExamMapper">

    <select id="getSessionNumByExamName" resultType="Integer">
        SELECT count(*) as num
        FROM exam_exam e
        WHERE e.exam_name = #{examName}
    </select>
</mapper>